
.row{
    display: flex;
    justify-content: center;
}
.shake{
    position: relative;
    animation-name: shake;
    animation-duration: 0.3s;
}
@keyframes shake{
    0% {left: 0px; top: 0px;}
    20% {left: 10px; top: 0px;}
    40% {left: -10px; top: 0px;}
    60% {left: 5px; top: 0px;}
    80% {left: -5px; top: 0px;}
    100% {left: 0px; top: 0px;}
}
.message {
    background-color: #1c7ff0ea;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s;
}