.game {
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}
.timer {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #fff;
  background-image: url("../../../public/image/tree.jpg");
  background-repeat: no-repeat;
  background-size:50%;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s;
}
.beforSun {
  display: none;
}
.sun {
  font-size: 100%;
  color: #e1e42f;
  position: absolute;
  font-size: 150px;
  left: 50%;
  margin-left: -75px;
  top: 30%;
  margin-top: -75px;
  z-index: 1;
  transition: opacity 4s;
  animation: sunGo 3s linear infinite;
}

@keyframes sunGo {
  to {
    transform: rotate(360deg);
  }
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s;
}
.close:hover {
  transform: scale(1.3);
}
.next-time {
  position: absolute;
  bottom: 15%;
  right: 0;
  width: 70%;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: baseline;
  color: #461717ee;
}
.general-container{
 
}
.general-container.dark{
  background-color: #202020;
}